:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

:root {
  --navbar-color: #1e2640;
  --header-color: #fafafa;
  --navbar-text-color: #ffffff;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-container-1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-container-row {
  display: flex;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.pages {
  justify-content: space-between;
  padding: 8px 16px;
}

.nav-bottom {
  padding: 6px 12px;
  background-color: rgba(53, 60, 83, 1);
  width: 192px;
  border-radius: 4px;
}
.flex-1 {
  flex: 1 1 0%;
}

.gap-column-12 {
  column-gap: 12px;
}

.gap-row-4 {
  row-gap: 4px;
}

.gap-row-2 {
  row-gap: 2px;
}

.gap-row-24 {
  row-gap: 24px;
}

.gap-column-10 {
  column-gap: 10px;
}

.gap-column-16 {
  column-gap: 16px;
}
.gap-column-8 {
  column-gap: 8px;
}
.gap-column-6 {
  column-gap: 6px;
}

.margin-8 {
  margin: 0px 8px;
}

.height-42 {
  height: 42px;
}

.vector {
  height: 20px;
  width: 20px;
}
.companyicon {
  height: 39px;
  width: 39px;
  border-radius: 4px;
}

.walleticon {
  height: 39px;
  width: 39px;
  border-radius: 4px;
}
.navbar {
  background-color: var(--navbar-color);
  color: var(--navbar-text-color);
  font-weight: 500;
  width: 14rem;
  height: 98vh;
  padding: 16px 10px;
}

.frame {
  background-color: var(--header-color);
  width: 76rem;
}

.dashboard-header {
  padding: 12px 32px;
  border: 1px solid rgba(217, 217, 217, 1);
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #d9d9d9, #d9d9d9);
}

.underline-offset-1 {
  text-underline-offset: 2px;
}

.searchBar {
  background-color: rgba(242, 242, 242, 1);
  border-radius: 6px;
  border: none;
  height: 22px;
  width: 368px;
  padding: 9px 16px;
}

.frame-1 {
  width: 360px;
  height: 22px;
}

.frame-3 {
  width: 360px;
  height: 40px;
}

.section {
  padding: 32px;
}
